## 練習時間
資料的操作有很多，接下來的馬拉松中我們會介紹常被使用到的操作，參加者不妨先自行想像一下，第一次看到資料，我們一般會想知道什麼訊息？

#### Ex: 如何知道資料的 row 數以及 column 數、有什麼欄位、多少欄位、如何截取部分的資料等等

有了對資料的好奇之後，我們又怎麼通過程式碼來達成我們的目的呢？

#### 可參考該[基礎教材](https://bookdata.readthedocs.io/en/latest/base/01_pandas.html#DataFrame-%E5%85%A5%E9%97%A8)或自行 google

In [19]:
import os
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [20]:
# 設定 data_path
dir_data = './data/'

In [21]:
f_app = os.path.join(dir_data, 'application_train.csv')
print('Path of read in data: %s' % (f_app))
app_train = pd.read_csv(f_app)

Path of read in data: ./data/application_train.csv

### 如果沒有想法，可以先嘗試找出剛剛例子中提到的問題的答案
#### 資料的 row 數以及 column 數

In [23]:
df=DataFrame(app_train)
t=df.shape
t

(307511, 122)

#### 列出所有欄位

In [24]:
s=df.count()
s

SK_ID_CURR                    307511
TARGET                        307511
NAME_CONTRACT_TYPE            307511
CODE_GENDER                   307511
FLAG_OWN_CAR                  307511
FLAG_OWN_REALTY               307511
CNT_CHILDREN                  307511
AMT_INCOME_TOTAL              307511
AMT_CREDIT                    307511
AMT_ANNUITY                   307499
AMT_GOODS_PRICE               307233
NAME_TYPE_SUITE               306219
NAME_INCOME_TYPE              307511
NAME_EDUCATION_TYPE           307511
NAME_FAMILY_STATUS            307511
NAME_HOUSING_TYPE             307511
REGION_POPULATION_RELATIVE    307511
DAYS_BIRTH                    307511
DAYS_EMPLOYED                 307511
DAYS_REGISTRATION             307511
DAYS_ID_PUBLISH               307511
OWN_CAR_AGE                   104582
FLAG_MOBIL                    307511
FLAG_EMP_PHONE                307511
FLAG_WORK_PHONE               307511
FLAG_CONT_MOBILE              307511
FLAG_PHONE                    307511
FLAG_EMAIL                    307511
OCCUPATION_TYPE               211120
CNT_FAM_MEMBERS               307509
                               ...
DEF_30_CNT_SOCIAL_CIRCLE      306490
OBS_60_CNT_SOCIAL_CIRCLE      306490
DEF_60_CNT_SOCIAL_CIRCLE      306490
DAYS_LAST_PHONE_CHANGE        307510
FLAG_DOCUMENT_2               307511
FLAG_DOCUMENT_3               307511
FLAG_DOCUMENT_4               307511
FLAG_DOCUMENT_5               307511
FLAG_DOCUMENT_6               307511
FLAG_DOCUMENT_7               307511
FLAG_DOCUMENT_8               307511
FLAG_DOCUMENT_9               307511
FLAG_DOCUMENT_10              307511
FLAG_DOCUMENT_11              307511
FLAG_DOCUMENT_12              307511
FLAG_DOCUMENT_13              307511
FLAG_DOCUMENT_14              307511
FLAG_DOCUMENT_15              307511
FLAG_DOCUMENT_16              307511
FLAG_DOCUMENT_17              307511
FLAG_DOCUMENT_18              307511
FLAG_DOCUMENT_19              307511
FLAG_DOCUMENT_20              307511
FLAG_DOCUMENT_21              307511
AMT_REQ_CREDIT_BUREAU_HOUR    265992
AMT_REQ_CREDIT_BUREAU_DAY     265992
AMT_REQ_CREDIT_BUREAU_WEEK    265992
AMT_REQ_CREDIT_BUREAU_MON     265992
AMT_REQ_CREDIT_BUREAU_QRT     265992
AMT_REQ_CREDIT_BUREAU_YEAR    265992
Length: 122, dtype: int64

#### 截取部分資料

In [25]:
# get first three columns
df = DataFrame(app_train, columns=['SK_ID_CURR', 'TARGET', 'NAME_CONTRACT_TYPE', 'CODE_GENDER'])
idx = df.columns # get col index
df = df[['SK_ID_CURR', 'TARGET', 'NAME_CONTRACT_TYPE']]
t=df.shape
t
df.head(2)

   SK_ID_CURR  TARGET NAME_CONTRACT_TYPE
0      100002       1         Cash loans
1      100003       0         Cash loans

#### 還有各種數之不盡的資料操作，重點還是取決於實務中遇到的狀況和你想問的問題，在馬拉松中我們也會陸續提到更多例子

In [26]:
# add three more columns
df['new_col'] = range(len(df))
df['new_col'] = np.repeat(np.nan,len(df))
df['random'] = np.random.rand(len(df))
df['index_as_col'] = df.index
df.head(2)

   SK_ID_CURR  TARGET NAME_CONTRACT_TYPE  new_col    random  index_as_col
0      100002       1         Cash loans      NaN  0.636428             0
1      100003       0         Cash loans      NaN  0.679050             1